<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light" ng-controller="sLFPaymentMgmtController">
  <!-- column -->
  <div class="col">
    <div class="vbox">
      <div class="wrapper bg-light lt b-b">
        <span class="font-bold">SLFL Payment Management</span>
      </div>
      <div class="row-row">
        <div class="wrapper">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-md-4">
                    <h4>New Payment</h4>
                    <div class="row">
                      <div class="form-group col-md-8">
                        <label class="control-label">Container Number <span class="text-danger text-bold text-lg">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control" ng-model="mainForm.container_number.value" />
                          <span class="input-group-btn">
                            <button class="btn btn-primary" style="margin: 0; padding: 6px 18px;" ng-click="getPaymentDetails()">Get Details</button>
                          </span>
                        </div>
                        <span class="text-danger" ng-if="mainForm.container_number.error">Please enter valid Container Number</span>
                      </div>
                      <div class="form-group col-md-4">
                        <label class="control-label">Party Type <span class="text-danger text-bold text-lg">*</span></label>
                        <select ng-model="mainForm.payment_party_type.value" required class="form-control" ng-options="v.id as v.item_name for v in paymentPartyType" ng-class="{ 'b-danger': mainForm.payment_party_type.error }">
                          <option value="">-Select-</option>
                        </select>
                        <span class="text-danger" ng-if="mainForm.container_number.error">Please enter valid Payment Party Type</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label>Payment Mode <span class="text-danger text-bold text-lg">*</span></label>
                        <select ng-model="mainForm.payment_mode_id.value" required class="form-control" ng-options="v.id as v.item_name for v in paymentModes" ng-class="{ 'b-danger': mainForm.payment_mode_id.error }"></select>
                        <span class="text-danger" ng-if="mainForm.payment_mode_id.error">Please enter valid Payment Mode</span>
                      </div>
                      <div class="form-group col-md-6">
                        <label class="control-label">Paid Amount (KD) <span class="text-danger text-bold text-lg">*</span></label>
                        <input type="text" ng-model="mainForm.paid_amount.value" ng-change="onChangePaidAmount()" ng-blur="onChangePaidAmount()" id="paid_amount" class="form-control text-right" />
                        <span class="text-danger" ng-if="mainForm.paid_amount.error">Please enter valid Paid Amount</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label">Paid Date <span class="text-danger text-bold text-lg">*</span></label>
                        <div class="input-group w-sm">
                          <input 
                            type="text" 
                            class="form-control" 
                            datepicker-popup="{{formats}}" 
                            ng-model="mainForm.paid_date.value" 
                            is-open="opened" 
                            readonly="true" 
                            datepicker-options="dateOptions" 
                            ng-required="true" 
                            close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openPickup($event)" style="margin: 0; margin-left: -1px; height: 34px;"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                        <span class="text-danger" ng-if="mainForm.paid_date.error">Please enter valid Paid Date</span>
                      </div>
                      <div class="form-group col-md-6">
                        <label class="control-label">Entering Date <span class="text-danger text-bold text-lg">*</span></label>
                        <input type="text" class="form-control" disabled="true" ng-model="mainForm.entered_date.value" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Notes</label>
                      <textarea class="form-control" ng-model="mainForm.notes.value"></textarea>
                    </div>
                    <div class="form-group pull-right">
                      <button class="btn btn-default" ng-click="onClearPayment()">Cancel</button>
                      <button class="btn btn-primary" ng-click="onSubmitPayment()">Save</button>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h4>Payment History (On selection of invoice) 
                        <br /><b>Pendings: </b> 
                        Shipline: <span class="text-danger">{{ paymentDetails.master.shipping_line_amount || 0 }}</span>
                        Releasing Company: <span class="text-danger">{{paymentDetails.master.releasing_company_amount || 0}}</span>
                        Forwarder: <span class="text-danger">{{paymentDetails.master.forwarder_amount || 0}}</span>
                    </h4>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Party Type</th>
                          <th>Payment Mode</th>
                          <th>Entered Date</th>
                          <th>Paid Date</th>
                          <th>Paid Amount (KD)</th>
                          <th>Notes</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="v in paymentDetails.payments" ng-class="{'bg-warning': v.status==2}">
                          <td>{{ $index + 1 }}</td>
                          <td>{{ v.payment_party_type_name }}</td>
                          <td>{{ v.payment_mode_data.name }}</td>
                          <td>{{ v.entered_date }}</td>
                          <td>{{ v.paid_date }}</td>
                          <td class="text-right">{{ v.paid_amount }}</td>
                          <td>{{ v.notes }}</td>
                          <td>
                            <button class="btn btn-warning btn-xs" ng-click="onClickEdit(v)" ng-if="v.status==1">
                              <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="onClickDelete(v)" ng-if="v.status==1">
                              <i class="fa fa-times"></i>
                            </button>
                          </td>
                        </tr>
                        <tr ng-if="!paymentDetails.payments.length">
                          <td colspan="8">No Data Available</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<!-- /hbox layout -->
